#hero .slide-1 { background-image: url(/static/assets/img/insurance/oldlady.jpg); }
#hero .slide-2 { background-image: url(/static/assets/img/insurance/dental.jpg); }
#hero .slide-3 { background-image: url(/static/assets/img/insurance/business.jpg); }
#hero .slide-4 { background-image: url(/static/assets/img/insurance/universitylatina.jpg); }
